.flex-space-between {
    display: flex;
    justify-content: space-between;
    gap: $gap;
}

.cart-content {
    margin: 96px 0 120px;
    display: grid;
    grid-template: auto / minmax(auto, 652px) minmax(auto, $siteThirdPart);
    gap: $gap;
    justify-content: space-between;
}


.product-in-cart-grid-box {
    gap: $gap + 10px;
    display: grid;
    grid-template: repeat(auto-fill, minmax(auto, 306px)) / auto;
}

.product-in-cart {
    display: flex;
    box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
    position: relative;
    box-sizing: border-box;

    &__img {
        display: block;
        height: 100%;
        width: 100%;
    }

    &__link-img {
        max-width: 262px;
    }

    &__description {
        margin: 22px 80px 22px 32px;
    }

    &__btn-close {
        position: absolute;
        top: 22px;
        right: 22px;
        & svg {
            transition: transform 0.5s;
        }
        &:hover path {
            fill: $colorMainSite;
        }
        &:hover svg {
            transform: rotate(90deg);
        }
    }

    &__heading {
        color: $colorBlack;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 42px;
    }

    &__option {
        color: $colorTextProductCard;
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 6px;
        display: flex;
        align-items: center;
    }

    &__selected-option {
        color: $colorMenuItem;
        padding-left: 6px;
    }

    &__price {
        color: $colorDividerCollection;
    }

    &__quantity {
        display: block;
        box-sizing: border-box;
        padding: 0px 8px;
        margin-left: 24px;
        width: 44px;
        height: 25px;
        border: 1px solid $bgColorInputText;
        text-align: center;
        @extend .hide-input-arrows;

        &:focus {
            outline: 1px solid $colorMainSite;
        }
    }    
}

.hide-input-arrows {
     // hide arrows
     &::-webkit-outer-spin-button,
     &::-webkit-inner-spin-button {
         -webkit-appearance: none;
         margin: 0;
     }

     // firefox
     &[type=number] {
         -moz-appearance: textfield;
     }
}

.btn-close {
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn-product-in-cart {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $colorMenuHeading;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid $colorTextLightGrey;
    padding: 17px 40px;
    margin-top: 72px - ($gap + 10px);
    box-sizing: border-box;
    text-transform: uppercase;
    transition: all 0.3s;
    &:hover {
        background-color: $colorTextLightGrey;
        color: $colorTextWhite;
    }
}

.input-text {
    display: block;
    border: 1px solid $colorTextLightGrey;
    padding: 13px 17px;
    color: $colorBlack;
    font-size: 13px;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
    @extend .hide-input-arrows;
    &::placeholder {
        color: $bgColorInputText;
        font-size: 13px;
        font-weight: 300;
    }
    &:focus {
        outline: 1px solid $colorMainSite;
    }
}

.order {
    display: flex;
    flex-direction: column;
    padding: 22px 0;

    &__info {
        display: flex;
        gap: $gap - 10px;
        flex-direction: column;
    }

    &__heading {
        color: $colorBlack;
        font-size: 16px;
        font-weight: 300;
    }

    &__btn-get-quote {
        max-width: 102px;
        padding: 10px 14px;
        font-size: 11px;
        margin: 0;
    }

    &__total {
        margin-top: 57px;
        background: $bgColorOrderTotal;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &__subtotal {
        color: $colorProductHeading;
        font-size: 11px;
        font-weight: 400;
        text-align: right;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    &__subtotal-price {
        padding-left: 10px;
    }

    &__grandtotal {
        color: $colorBlack;
        font-size: 16px;
        font-weight: 300;
        text-align: right;
        text-transform: uppercase;
    }

    &__grandtotal-price {
        color: $colorMainSite;
        font-weight: 700;
        padding-left: 10px;
    }

    &__divider {
        width: 273px;
        height: 1px;
        background-color: $bgColorInputText;
        border: none;
        box-sizing: border-box;
        margin: 21px 0 17px;
    }

    &__btn-submit {
        padding: 15px 35px;
        color: $colorTextWhite;
        background: $colorMainSite;
        font-weight: 300;
        &:hover {
            background: $colorTextWhite;
            color: $colorMainSite;
        }
    }
}


@media (max-width: 1024px) {
    .cart-content {
        display: block;
    }

    .btn-product-in-cart-box {
        justify-content: center;
        gap: 48px;
    }

    .order {
        flex-direction: row;
        gap: 15px;  
        align-items: center;
        margin-top: 64px;

        &__info {
            flex-grow: 1;
            max-width: $siteThirdPart;
        }
        &__total {
            margin-top: 28px;
            flex-grow: 1;
            max-width: $siteThirdPart;
            box-sizing: border-box;
        }
    }
}

@media (max-width: 767px) {
    .cart-content {
        margin: 40px 0 96px;
    }

    .product-in-cart-grid-box {
        display: flex;
        flex-direction: column;
        gap: 32px;
        max-width: 400px;
        margin: 0 auto;
    }
    .product-in-cart {
        &__link-img {
            max-width: 144px;
        }
        &__description {
            margin: 17px 25px 20px 17px;
        }

        &__heading {
            font-size: 16px;
            margin-bottom: 26px;
        }

        &__btn-close {
            top: 17px;
            right: 12px;            
            & svg {
                width: 10px;
                height: 11px;
                box-sizing: border-box;
            }
        }

        &__option {
            font-size: 14px;
        }

        &__quantity {
            width: 25px;
            height: 15px;
            &::placeholder {
                font-size: 10px;
            }
        }
    }

    .btn-product-in-cart-box {
        margin: 0;
        gap: 5px;
        justify-content: space-between;
    }

    .btn-product-in-cart {
        font-size: 12px;
        font-weight: 400;
        padding: 9px 17px;
        margin: 0;
    }

    .order {
        max-width: 400px;
        margin: 48px auto 0;
        flex-direction: column;
        align-items: stretch;
        &__btn-get-quote {
            padding: 11px;
            font-size: 11px;
        }

        &__total {
            margin-top: 48px;
        }
        &__btn-submit {
            padding: 15px 20px;
        }
    }
}
